<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Section</title>
    <link rel="stylesheet" href="about_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    
    <h1>ABOUT US</h1>

   
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="p12.jpg" alt="Priyanshi Singh">
                    </div>
                    <h3 class="title">Priyanshi Singh</h3>
                    <span class="post">Web Designer</span>
                    <ul class="social">
                    
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                        <li><a href="https://www.linkedin.com/in/priyanshi-singh-61b63b313?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app #" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
     
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="about us pic3 copy.jpg" alt="Utkarsh Kushwaha" height="137.11px">
                    </div>
                    <h3 class="title">Utkarsh Kushwaha</h3>
                    <span class="post">Web Designer</span>
                    <ul class="social">
                       
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                        <li><a href="https://www.linkedin.com/in/utkarsh-kushwaha-8695a532a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="about us pic2.jpg" alt="Yash Namdev" height="137.11px">
                    </div>
                    <h3 class="title">Yash Namdev</h3>
                    <span class="post">Web Designer</span>
                    <ul class="social">
                        
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                        <li><a href="https://www.linkedin.com/in/yash-namdeo-0b5b16325?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="about us pic1.jpg" alt="Devyanshi Tiwari" height="137.11px">
                    </div>
                    <h3 class="title">Devyanshi Tiwari</h3>
                    <span class="post">Web Designer</span>
                    <ul class="social">
                       
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                        <li><a href="https://www.linkedin.com/in/devyanshi-tiwari-58914a30b/" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <button class="our-page-button" onclick="redirectToPage()">Our Page</button>

    <script>
        function redirectToPage() {
           
            window.location.href = "https://www.linkedin.com/company/team-vasiliades/";
        }
    </script>
</body>
</html>
